html{
  background: #333;
}

.animate-character
{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 55px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  transition: all 300ms linear;
  width: 100%;
}

section {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0px;
}

main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-between;
}
.bottom{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 0px;
}
.column{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.red {
  background-color: red !important;
}

.black {
  background-color: black;
}

.white {
  background-color: beige;
}

.blackWhite {
  margin: auto;
  padding: 0.5em;
  font-size: 1.8em;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 20vw
}

.whiteBlack {
  margin: auto;
  padding: 0.5em;
  font-size: 1.8em;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 20vw
}
.lightbulb{
  position: absolute;
  background-color: transparent;
  margin-left: 90vw;
  margin-top: 0.3vw;
  width: 5vw;
  height: 6vh;
}
.off i {
  filter: grayscale(100%);
}

i {
  font-style: normal;
  font-size: 3vh;
}

.App>h1 {
  margin: 0;
  padding-top: 0.5em;
  text-align: center;
  background: #333;
  color: white;
  font-family: fantasy;
  font-size: 60px;
}

.App>h2 {
  margin: 0;
  padding: 1em;
  text-align: center;
  background: rgb(66, 109, 102);
  color: black;
}
.dealer {
  font-size: 40px;
  padding: 0.5em !important;
}

.position {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: center;
  color: black;
  font-size: 55px;
  border-top: #333;
  z-index: 500;
}

.position2 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: center;
  color: white;
  font-size: 55px;
  border-top: #333;
  z-index: 500;
  padding-bottom: 0px;
}
.money {
  margin: auto;
  padding: 1em;
  padding-bottom: 0px;
  text-align: center;
  color: black;
  font-size: 35px;
  border-top: #333;
  z-index: 500;
  margin-bottom: 2vh;
}

.money2 {
  margin: auto;
  padding: 1em;
  padding-bottom: 0px;
  text-align: center;
  color: white;
  font-size: 35px;
  border-top: #333;
  z-index: 500;
  margin-bottom: 2vh;
}
.bet {
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  text-align: center;
  color: black;
  font-size: 40px;
  border-top: #333;
  z-index: 500;
}

.bet2 {
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  text-align: center;
  color: white;
  font-size: 40px;
  border-top: #333;
  z-index: 500;
}

.big2Poker {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cursive {
  margin: 0;
  padding: 1em;
  text-align: center;
  background: rgb(66, 109, 102);
  color: black;
  font-family: fantasy;
}



.fire {
  padding: 0.75em 1.5em;
  background-color: black;
  color: white;
  border: 4px solid;
  font-size: 4em;
  border-radius: 1.65em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.fire2 {
  padding: 0.75em 1.5em;
  background-color: white;
  color: black;
  border: 4px solid;
  font-size: 4em;
  border-radius: 1.65em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.fire::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, tomato 0%, salmon 25%, peachpuff 100%);
  z-index: -1;
  transition: opacity 240ms linear;
  opacity: 0;
}

.fire:hover::before {
  opacity: 1;
}

.fire2::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, tomato 0%, salmon 25%, peachpuff 100%);
  z-index: -1;
  transition: opacity 240ms linear;
  opacity: 0;
}

.fire2:hover::before {
  opacity: 1;
}

.ice {
  padding: 0.75em 1.5em;
  background-color: black;
  color: white;
  border: 4px solid;
  font-size: 4em;
  border-radius: 1.65em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ice2 {
  padding: 0.75em 1.5em;
  background-color: white;
  color: black;
  border: 4px solid;
  font-size: 4em;
  border-radius: 1.65em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ice::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, rgb(34, 100, 199) 0%, rgb(51, 125, 185) 25%, rgb(144, 203, 243) 100%);
  z-index: -1;
  transition: opacity 240ms linear;
  opacity: 0;
}

.ice:hover::before {
  opacity: 1;
}

.ice2::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, rgb(34, 100, 199) 0%, rgb(51, 125, 185) 25%, rgb(144, 203, 243) 100%);
  z-index: -1;
  transition: opacity 240ms linear;
  opacity: 0;
}

.ice2:hover::before {
  opacity: 1;
}


input {
  width: 50%;
  font-size: 3vh;
}


.btn {
  margin: 1em;
  padding: 1em;
  width: 45%;
  font-size: 3vh;
  background: white;
  cursor: pointer;
  z-index: 10;
  border-radius: 1.65em;
  color: black;
}
.btn2 {
  margin: 1em;
  padding: 1em;
  width: 45%;
  font-size: 3vh;
  background: black;
  color: white;
  cursor: pointer;
  z-index: 10;
  border-radius: 1.65em;
}
.pokerChip {
  display:block;
  height: 12vw;
  width: 12vw;
  max-width: 150px;
  max-height: 150px;
  font-size: 3vw;
  color: white;
  border-radius: 50%;
  border: 1.1vh dashed white;
  margin: 1vw;
  padding: 1vw;
  background: black;
  cursor: pointer;
  z-index: 10;
}
.btnNames {
  margin: 0.5em;
  width: 40%;
  font-size: 2vh;
  cursor: pointer;
  border-color: black;
  z-index: 100;
  background: #576E86;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: #A8BACE;
}

.btnNames:hover {
  background: #394D61;
}

.pokerButton {
  min-width: 10vw;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.7em;
  background-color: rgb(72, 161, 181);
  cursor: pointer;
  border-radius: 1.65em;
  z-index: 2;
  color: black;
}
.pokerButton:hover{
  background-color: rgb(91, 206, 232);
}
.betButton{
  min-width: 10vw;
  width: 30%;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.7em;
  background-color: rgb(41, 157, 126);
  cursor: pointer;
  border-radius: 1.65em;
  z-index: 2;
  color: black;
}
.betButton:hover{
  background-color: rgb(44, 189, 150);
}

.gold {
  margin: 1em;
  padding: 1em;
  width: 45%;
  font-size: 3vh;
  background: gold;
  cursor: pointer;
  border-color: black;
  border-radius: 1.65em;
}

.silver {
  margin: 1em;
  padding: 1em;
  width: 45%;
  font-size: 3vh;
  background: silver;
  cursor: pointer;
  border-color: black;
  border-radius: 1.65em;
}

.bronze {
  margin: 1em;
  padding: 1em;
  width: 45%;
  font-size: 3vh;
  background: burlywood;
  cursor: pointer;
  border-color: black;
  border-radius: 1.65em;
}

.last {
  margin: 1em;
  padding: 1em;
  width: 45%;
  font-size: 3vh;
  background: rgb(241, 71, 71);
  cursor: pointer;
  border-color: black;
  border-radius: 1.65em;
}

.btn:hover {
  background-color: antiquewhite;
}

.btn2:hover {
  background-color: rgb(59, 59, 59);
}

.back {
  height: 3em;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.7em;
  background-color: rgb(235, 80, 80);
  cursor: pointer;
  color: black;
}

.back:hover {
  background-color: rgb(245, 123, 101);
}

.reset {
  height: 3em;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.7em;
  background-color: rgb(44, 177, 75);
  cursor: pointer;
  color: black;
}

.reset:hover {
  background-color: rgb(116, 207, 76);
}

.double {
  height: 3em;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.7em;
  background-color: rgb(214, 88, 187);
  cursor: pointer;
  color: black;
}

.double:hover {
  background-color: rgb(240, 150, 225);
}

.flame {
  border-width: 5px;
  border-color: green;
  font-weight: bold;
}

.changeRules {
  height: 3em;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.7em;
  background-color: rgb(235, 122, 57);
  cursor: pointer;
  color: black;
}

.changeRules:hover {
  background-color: rgb(226, 151, 108);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(186, 186, 186);
  opacity: 1;
  /* Firefox */
}




.form-style-4 {
  display: flex;
  width: 350px;
  font-size: 16px;
  background: #495C70;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #fff;

}

.form-style-4 label {
  display: block;
  margin-bottom: 10px;
}

.form-style-4 label>span {
  display: inline-block;
  float: left;
  width: 250px;
}

.form-style-4 input[type=text],
.form-style-4 input[type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
}

.form-style-4 textarea {
  font-style: italic;
  padding: 0px 0px 0px 0px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  overflow: hidden;
  resize: none;
  height: 20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus {
  border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button] {
  background: #576E86;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: #A8BACE;
}

.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover {
  background: #394D61;
}

.outline {
  border: 2px dashed #576E86;
  margin-left: 50px;
  margin-right: 50px;
  background: #495C70;
  color: white;
}

.table {
  display: flex;
  font-size: 2.5em;
  text-align: center;
  justify-content: space-around;
}
.longForm{
  display:flex;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .animate-character{
    text-align: center;
    font-size: 6vw;
  }
  section {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .btn {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    cursor: pointer;
    background: white;
    border-radius: 1.65em;
    color: black;
  }

  .btn2 {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 1.65em;
  }
  .pokerChip {
    display:block;
    height: 20vw;
    width: 20vw;
    max-width: 150px;
    max-height: 150px;
    font-size: 5vw;
    color: white;
    border-radius: 50%;
    border: 2vw dashed white;
    margin: 1vw;
    padding: 1vw;
    background: black;
    cursor: pointer;
    z-index: 10;
  }

  .row{
    justify-content: center;
  }

  .gold {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    background: gold;
    cursor: pointer;
    border-radius: 1.65em;
  }

  .silver {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    background: silver;
    cursor: pointer;
    border-radius: 1.65em;
  }

  .bronze {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    background: burlywood;
    cursor: pointer;
    border-radius: 1.65em;
  }

  .last {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    background: rgb(241, 71, 71);
    cursor: pointer;
    border-radius: 1.65em;
  }

  .App>h1 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    background: #333;
    color: white;
  }

  .App>h2 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    background: rgb(66, 109, 102);
    color: black;
  }

  .back {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(235, 80, 80);
    cursor: pointer;
    color: black;
  }

  .back:hover {
    background-color: rgb(245, 123, 101);
  }

  .reset {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(44, 177, 75);
    cursor: pointer;
    color: black;
  }

  .reset:hover {
    background-color: rgb(116, 207, 76);
  }

  .double {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(214, 88, 187);
    cursor: pointer;
    z-index: 2;
    color: black;

  }

  .double:hover {
    background-color: rgb(240, 150, 225);
  }

  .changeRules {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(235, 122, 57);
    cursor: pointer;
    color: black;
  }

  .changeRules:hover {
    background-color: rgb(226, 151, 108);
  }
  .flame {
    border-width: 5px;
    border-color: red;
  }

  .big2Poker {
    margin-top: 50px;
    margin-bottom: 10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .ice {
    margin-top: 50px;
    padding: 0.75em 1.5em;
    background-color: black;
    color: white;
    border: 4px solid;
    font-size: 3em;
    border-radius: 1.65em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .ice2 {
    margin-top: 50px;
    padding: 0.75em 1.5em;
    background-color: white;
    color: black;
    border: 4px solid;
    font-size: 3em;
    border-radius: 1.65em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .fire {
    padding: 0.75em 1.5em;
    background-color: black;
    color: white;
    border: 4px solid;
    font-size: 3em;
    border-radius: 1.65em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .fire2 {
    padding: 0.75em 1.5em;
    background-color: white;
    color: black;
    border: 4px solid;
    font-size: 3em;
    border-radius: 1.65em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .position {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-bottom: 0px;
    text-align: center;
    color: black;
    font-size: 6vw;
    border-top: #333;
    z-index: 500;
  }
  
  .position2 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: center;
    color: white;
    font-size: 6vw;
    border-top: #333;
    z-index: 500;
    padding-bottom: 0px;
  }
  .bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  .table {
    display: flex;
    font-size: 1em;
    text-align: center;
    justify-content: space-around;
  }
  .blackWhite {
    margin: auto;
    padding: 0.5em;
    font-size: 1em;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 30vw
  }
  
  .whiteBlack {
    margin: auto;
    padding: 0.5em;
    font-size: 1em;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 30vw
  }
  .longForm{
    display:flex;
    flex-direction: column;
  }
  .pokerButton {
    margin: 0.2em;
    padding: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 2;
    color: black;
  }

  .betButton {
    margin: 0.2em;
    padding: 0.5em;
    font-size: 1.7em;
    cursor: pointer;
    z-index: 2;
    color: black;
  }
  
  .bet {
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: black;
    font-size: 25px;
    border-top: #333;
    z-index: 500;
  }
  
  .bet2 {
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: white;
    font-size: 25px;
    border-top: #333;
    z-index: 500;
  }
  .money {
    margin: auto;
    padding: 1em;
    padding-bottom: 0px;
    text-align: center;
    color: black;
    font-size: 20px;
    border-top: #333;
    z-index: 500;
    margin-bottom: 2vh;
  }
  
  .money2 {
    margin: auto;
    padding: 1em;
    padding-bottom: 0px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-top: #333;
    z-index: 500;
    margin-bottom: 2vh;
  }
  .lightbulb{
    position: absolute;
    background-color: transparent;
    margin-left: 80vw;
    margin-top: 2vw;
    width: 10vw;
    height: 8vw;
  }
  i {
    font-style: normal;
    font-size: 20px;
  }
  .dealer {
    font-size: 20px;
    padding: 1em;
  }
}

@media screen and (max-width: 1164px) and (min-width: 800px) {

  .btn {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    cursor: pointer;
    background: white;
    border-radius: 1.65em;
  }

  .btn2 {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 1.65em;
  }

  .gold {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    background: gold;
    cursor: pointer;
    border-radius: 1.65em;
  }

  .silver {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    background: silver;
    cursor: pointer;
    border-radius: 1.65em;
  }

  .bronze {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    background: burlywood;
    cursor: pointer;
    border-radius: 1.65em;
  }

  .last {
    margin: 0.5em;
    padding: 1em;
    font-size: 3vh;
    width: 90%;
    background: rgb(241, 71, 71);
    cursor: pointer;
    border-radius: 1.65em;
  }
  .table {
    display: flex;
    font-size: 2em;
    text-align: center;
    justify-content: space-around;
  }
  .blackWhite {
    margin: auto;
    padding: 0.5em;
    font-size: 1.3em;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 1em;
    width: 20vw;
    margin-top: 1em;
  }
  
  .whiteBlack {
    margin: auto;
    padding: 0.5em;
    font-size: 1.3em;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-bottom: 1em;
    width: 20vw;
    margin-top: 1em;
  }
  .longForm{
    display:flex;
    flex-direction: row;
  }
  .lightbulb{
    position: absolute;
    background-color: transparent;
    margin-left: 85vw;
    margin-top: 0.35vw;
    width: 8vw;
    height: 7vh;
    border-color: black;
  }
  i {
    font-style: normal;
    font-size: 40px;
  }

}

@media screen and (min-width: 1400px)  {
  .pokerChip{
    font-size: 40px;
  }


} 